<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Household Services</h4>
            <div class="input-group">
                <input id="inputSearchServices" type="search" ng-model="filterServices" class="form-control shortInputSearch" placeholder="Filter, search movies..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="service in Services | filter:filterServices">
                    <div class="media">
                        <a class="pull-left" ng-href="#/services/{{service.ID}}" title="View {{service.Title}} details">
                            <img class="media-object" height="120" ng-src="../../Content/images/services/{{service.Image}}" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{service.Title}}</h4>
                        </div>

                        <label class="label label-info">{{service.ServiceType}}</label>
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <custom-pager page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>
            </div>
        </div>
    </div>
</div>